<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

            <p class="my-5">
                <a th:href="@{/seller/product/index}" class="btn btn-primary">
                    <i class="fas fa-plus ml-2"> 添加商品 </i></a>
            </p>

            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <th>产品编号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>描述</th>
                    <th>类目</th>
                    <th>库存</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作1</th>
                    <th>操作2</th>
                </thead>
                <tbody>
                    <tr th:each="p: ${products}">
                        <td th:text="${p.product_id}"></td>
                        <td th:text="${p.product_name}"></td>
                        <td th:text="${p.product_price}"></td>
                        <td th:text="${p.product_description}"></td>
                        <td th:text="${p.category_type}"></td>
                        <td th:text="${p.product_stock}"></td>
                        <td th:text="${p.create_time}"></td>
                        <td th:text="${p.update_time}"></td>
                        <td>
                            <span th:if="${p.saleable == true}">
                                <a th:href="@{/seller/product/off_sale(product_id=${p.product_id})}" class="btn btn-secondary btn-sm">下架</a>
                            </span>
                            <span th:unless="${p.saleable == true}">
                                <a th:href="@{/seller/product/on_sale(product_id=${p.product_id})}" class="btn btn-primary btn-sm">上架</a>
                            </span>
                        </td>
                        <td>
                            <a th:href="@{/seller/product/index(product_id=${p.product_id})}" class="btn btn-link"><i class="fas far-edit ml-1"></i>修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>



</html>