<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> 新商品添加 </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:object="${newProduct}" method="post">
                    <div class="row">
                        <text></text>
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label">名称</label>
                            <input type="text" th:field="*{title}" class="form-control" id="title"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="price" class="col-form-label">价格</label>
                            <input type="text" th:field="*{price}" class="form-control" id="price"/>
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">
                        <input type="hidden" id="create_time" th:field="*{create_time}">
                        <input type="hidden" id="last_update_time" th:field="*{last_update_time}">


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>