<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>用户页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">导航栏</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> 我的主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> 我的卡包 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> 我的订单 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/transaction_history(user_id = ${userInfo.user_id})}" tabindex="-1" aria-disabled="true">历史交易记录</a>
                </li>
            </ul>

            <span class="navbar-text">
                <a th:href="@{/user/logout}">退出登录</a>
            </span>

        </div>
    </nav>

<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>尊敬的, <span th:text="${userInfo.username}"></span></h1>
                <h5>您的账户余额为: <span th:text="${userInfo.user_balance}"></h5>

            </div>
        </div>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">余额充值</h4>
            </div>
            <div class="card-body">
                <p class="card-text">充值的余额可在商品下单时用于现金的抵消</p>
                <a th:href="@{/user/add_balance(id=${userInfo.user_id})}"  class="btn btn-primary">进入充值页面 >></a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">领取优惠券</h4>
            </div>
            <div class="card-body">
                <p class="card-text">在优惠券广场领取更多优惠券，可用于商品下单时的现金抵消</p>
                <a href="#" class="btn btn-primary">浏览优惠券 >></a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">商品购物</h4>
            </div>
            <div class="card-body">
                <p class="card-text">进入商品页面进商品下单，下单成功后可在我的订单查看历史订单</p>
                <a href="#" class="btn btn-primary">浏览商品 >></a>
            </div>
        </div>

    </div>

</div>


</body>
