<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.SchedulerMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.Scheduler" >
    <id column="cron_id" property="cron_id" jdbcType="INTEGER" />
    <result column="cron_name" property="cron_name" jdbcType="VARCHAR" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scheduler
    where cron_id = #{cron_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.Scheduler" >
    insert into scheduler (cron_id, cron_name, cron
      )
    values (#{cron_id,jdbcType=INTEGER}, #{cron_name,jdbcType=VARCHAR}, #{cron,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.Scheduler" >
    update scheduler
    set cron_name = #{cron_name,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR}
    where cron_id = #{cron_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cron_id, cron_name, cron
    from scheduler
    where cron_id = #{cron_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cron_id, cron_name, cron
    from scheduler
  </select>
</mapper>