<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.TCategoryHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.TCategoryHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="INTEGER" />
    <result column="if_parent" property="if_parent" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_category_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.TCategoryHistory" >
    insert into t_category_history (id, `name`, parent_id, 
      if_parent)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, 
      #{if_parent,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.TCategoryHistory" >
    update t_category_history
    set `name` = #{name,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER},
      if_parent = #{if_parent,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `name`, parent_id, if_parent
    from t_category_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, parent_id, if_parent
    from t_category_history
  </select>
</mapper>