<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zilinsproject.mybatis.dao.TCategoryBrandMapper">
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.TCategoryBrand">
    <id column="category_id" jdbcType="INTEGER" property="category_id" />
    <id column="brand_id" jdbcType="INTEGER" property="brand_id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_category_brand
    where category_id = #{category_id,jdbcType=INTEGER}
      and brand_id = #{brand_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.TCategoryBrand">
    insert into t_category_brand (category_id, brand_id)
    values (#{category_id,jdbcType=INTEGER}, #{brand_id,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select category_id, brand_id
    from t_category_brand
  </select>
</mapper>