<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.TransactionsExtendedMapper" >
    <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.Transactions" >
        <id column="tid" property="tid" jdbcType="VARCHAR" />
        <result column="cid" property="cid" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="REAL" />
        <result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="selectAllTransactionsByCid" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select tid, cid, amount, created_at
        from transactions
        where cid = #{cid,jdbcType=VARCHAR}
    </select>
</mapper>