<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.TSpecGroupMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.TSpecGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="spg_id" property="spg_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_spec_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.TSpecGroup" >
    insert into t_spec_group (id, spg_id, `name`
      )
    values (#{id,jdbcType=INTEGER}, #{spg_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.TSpecGroup" >
    update t_spec_group
    set spg_id = #{spg_id,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, spg_id, `name`
    from t_spec_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, spg_id, `name`
    from t_spec_group
  </select>
</mapper>