<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.TWarehouseSkuMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.TWarehouseSku" >
    <id column="warehouse_id" property="warehouse_id" jdbcType="INTEGER" />
    <id column="sku_id" property="sku_id" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from t_warehouse_sku
    where warehouse_id = #{warehouse_id,jdbcType=INTEGER}
      and sku_id = #{sku_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.TWarehouseSku" >
    insert into t_warehouse_sku (warehouse_id, sku_id, num, 
      unit)
    values (#{warehouse_id,jdbcType=INTEGER}, #{sku_id,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{unit,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.TWarehouseSku" >
    update t_warehouse_sku
    set num = #{num,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR}
    where warehouse_id = #{warehouse_id,jdbcType=INTEGER}
      and sku_id = #{sku_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select warehouse_id, sku_id, num, unit
    from t_warehouse_sku
    where warehouse_id = #{warehouse_id,jdbcType=INTEGER}
      and sku_id = #{sku_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select warehouse_id, sku_id, num, unit
    from t_warehouse_sku
  </select>
</mapper>