<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.TWarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.TWarehouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_id" property="city_id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_warehouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.TWarehouse" >
    insert into t_warehouse (id, city_id, address, 
      tel)
    values (#{id,jdbcType=INTEGER}, #{city_id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.TWarehouse" >
    update t_warehouse
    set city_id = #{city_id,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, city_id, address, tel
    from t_warehouse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, city_id, address, tel
    from t_warehouse
  </select>
</mapper>