<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zilinsproject.mybatis.dao.VoucherConditionMapper" >
  <resultMap id="BaseResultMap" type="com.zilinsproject.mybatis.entity.VoucherCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="condition_id" property="condition_id" jdbcType="INTEGER" />
    <result column="condition" property="condition" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from voucher_condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zilinsproject.mybatis.entity.VoucherCondition" >
    insert into voucher_condition (id, condition_id, `condition`
      )
    values (#{id,jdbcType=INTEGER}, #{condition_id,jdbcType=INTEGER}, #{condition,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zilinsproject.mybatis.entity.VoucherCondition" >
    update voucher_condition
    set condition_id = #{condition_id,jdbcType=INTEGER},
      `condition` = #{condition,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, condition_id, `condition`
    from voucher_condition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, condition_id, `condition`
    from voucher_condition
  </select>
</mapper>